[submodule "auth-fn"]
	path = auth-fn
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-auth-fn.git
[submodule "monolith"]
	path = monolith
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-monolith.git
[submodule "k8s"]
	path = k8s
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-k8s.git
[submodule "libs"]
	path = libs
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-libs.git
[submodule "kitchen"]
	path = kitchen
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-kitchen-ms.git
[submodule "order"]
	path = order
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-order-ms.git
[submodule "payment"]
	path = payment
	url = git@github.com:marcostmunhoz/fiap-tech-challenge-fastfood-payment-ms.git
